
    h1 {
        font-family: sans-serif;
        font-size: 65px;
        color: orange;
    }
    ul {
        background-color: palegoldenrod;
        font-style: italic;
    }
    .mudarCorDeFundo {
        background-color: peru;
    }
    p {
        font-weight: 600;
        font-size: 3em;
        line-height: 80%;
        text-decoration: none;
    }
    body {
        font-size: 16px;
        text-align: center;
    }
    #fundoAmarelo{
        background-color: yellow;
    }
    #fundoVemelho{
        background-color: red;
    }
    #fundoMarrom{
        background-color: brown;
    }
